body{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    min-height: 10000px;
}
.nav-container{
    width: 100%;
    height: 65px;
    max-height: 65px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.nav-container .nav-left-buttons{
    display: flex;
    margin: 0 25px;
}
.nav-container .nav-right-buttons{
    display: flex;
    margin: 0 25px;
}
.nav-container div a{
    text-decoration: none;
    color: #0a042a;
    font-weight: 600;
}
.nav-container .logo-icon{
    width: 120px;
}
/* Efecto :hover */
.nav-link:hover {
    color: #23b2de; /* Cambia el color al pasar el mouse */
    position: relative;
}

/* Subrayado animado */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 2px;
    background-color: #23b2de;
    transition: width 0.3s ease; /* Animación de subrayado */
}

.nav-link:hover::after {
    width: 100%; /* Subrayado completo en hover */
}
.logo-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estilo base para ambas imágenes */
.logo-icon {
    transition: opacity 0.5s linear;
}

/* La imagen de hover (logo2.png) está inicialmente oculta */
.logo-hover {
    opacity: 0;
    display: none;
}

/* Al hacer hover en el enlace, intercambia la opacidad */
.logo-icon-link:hover .logo-default {
    opacity: 0;
    display: none; /* Oculta la imagen original */
}

.logo-icon-link:hover .logo-hover {
    opacity: 1;
    display: block; /* Muestra la imagen de hover */
}

/* *************************HEADER************************* */
.header-illustration-03 {
    background-color: var(--cream);
    background-image: url(../img/header-illustration-03.PNG);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    min-height: auto;
    max-height: 100vh;
    display: block;
    position: fixed;
    inset: 0%;
}
.header-illustration-02 {
    background-image: url(../img/header-illustration-02.PNG);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    min-height: auto;
    max-height: 100vh;
    display: flex;
    position: fixed;
    inset: 0%;
}
.header-illustration-01 {
    background-image: url(../img/header-illustration-01.PNG);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    min-height: auto;
    max-height: 100vh;
    display: flex;
    position: absolute;
    inset: 0%;
}
.header, .header-illustration-03, .header-illustration-02, .header-illustration-01 {
    height: 500px;
    min-height: auto;
    max-height: 500px;
}

.header {
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    position: relative;
}
.caja{
    height: 250px;
    width: 100%;
    background-color: black;
}